alembic
annotated-types
anyio
asttokens
certifi
chardet
click
colorama
comm
contourpy
cycler
databases
debugpy
decorator
executing
fastapi
fonttools
freetype-py
greenlet
h11
httpcore
httpx
idna
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
Mako
MarkupSafe
matplotlib
matplotlib-inline
munkres
nest-asyncio
numpy
packaging
pandas
parso
pillow
pluggy
prompt_toolkit
psutil
pure-eval
pycairo
pydantic
pydantic_core
pyparsing
pytest
python-dateutil
python-multipart
pytz
pyzmq
rdkit
reportlab
rlPyCairo
setuptools
six
sniffio
SQLAlchemy
stack-data
starlette
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
wheel
